In [1]:
! pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Collecting joblib>=0.11
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting scipy>=1.1.0
  Downloading scipy-1.8.0-cp39-cp39-win_amd64.whl (36.9 MB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=5df4b6f9db1bab797ad39f22f5c579063b35395b476dfebc33042d0946d2703c
  Stored in directory: c:\users\diego merello\appdata\local\pip\cache\wheels\e4\7b\98\b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 scipy-1.8.0 sklearn-0.0 threadpoolctl-3.1.0

In [2]:
pip install scipy

Requirement already satisfied: scipy in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (1.8.0)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scipy) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: joblib>=0.11 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
! pip install sklearn

Requirement already satisfied: sklearn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.8.0)

In [2]:
pip install -U matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.1-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.1-cp39-cp39-win_amd64.whl (3.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.2-cp39-cp39-win_amd64.whl (55 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (3.0.4)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.31.2-py3-none-any.whl (899 kB)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: numpy>=1.17 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.31.2 kiwisolver-1.4.2 matplotlib-3.5.1 pillow-9.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
diamonds=pd.read_csv('Diamondssql.csv')

In [4]:
diamonds

,Color,Cut,Clarity,Price,City,Depth,Carat,Table,X,Y,Z
0,J,Premium,VS2,4268,Dubai,62.4,1.21,58.0,6.83,6.79,4.25
1,H,Very Good,VS2,505,Kimberly,63.0,0.32,57.0,4.35,4.38,2.75
2,G,Fair,VS1,2686,Las Vegas,65.5,0.71,55.0,5.62,5.53,3.65
3,D,Good,SI1,738,Kimberly,63.8,0.41,56.0,4.68,4.72,3.00
4,G,Ideal,SI1,4882,Dubai,60.5,1.02,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...,...,...,...,...,...
40450,G,Ideal,VS1,10070,Antwerp,62.7,1.34,57.0,7.10,7.04,4.43
40451,F,Good,SI2,12615,Madrid,57.1,2.02,60.0,8.31,8.25,4.73
40452,H,Ideal,SI1,5457,Kimberly,62.7,1.01,56.0,6.37,6.42,4.01
40453,J,Ideal,VS1,456,Kimberly,61.9,0.33,54.3,4.45,4.47,2.76
40454,I,Ideal,SI1,6232,London,62.0,1.24,58.0,6.83,6.88,4.25

In [5]:
df_dummies=pd.get_dummies(diamonds)
df_dummies

,Price,Depth,Carat,Table,X,Y,Z,Color_D,Color_E,Color_F,...,City_Kimberly,City_Las Vegas,City_London,City_Luxembourg,City_Madrid,City_New York City,City_Paris,City_Surat,City_Tel Aviv,City_Zurich
0,4268,62.4,1.21,58.0,6.83,6.79,4.25,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,505,63.0,0.32,57.0,4.35,4.38,2.75,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2686,65.5,0.71,55.0,5.62,5.53,3.65,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,738,63.8,0.41,56.0,4.68,4.72,3.00,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,4882,60.5,1.02,59.0,6.55,6.51,3.95,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,62.7,1.34,57.0,7.10,7.04,4.43,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40451,12615,57.1,2.02,60.0,8.31,8.25,4.73,0,0,1,...,0,0,0,0,1,0,0,0,0,0
40452,5457,62.7,1.01,56.0,6.37,6.42,4.01,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40453,456,61.9,0.33,54.3,4.45,4.47,2.76,0,0,0,...,1,0,0,0,0,0,0,0,0,0
40454,6232,62.0,1.24,58.0,6.83,6.88,4.25,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
target=['price']
cat_features=['Cut', 'Color', 'Clarity', 'City']
num_features=['Carat', 'Depth', 'Table', 'X', 'Y', 'Z']

for cat_feat in cat_features:
    train[cat_feat]=train[cat_feat].astype('category')
    test[cat_feat]= test[cat_feat].astype('category')

cat_df=pd.get_dummies(train[cat_features])
num_df=train.loc[:, num_features]
train_df=pd.concat([cat_df,num_df], axis=1)

cat_df =pd.get_dummies(test[cat_features])
num_df=test.loc[:, num_features]
test_df= pd.concat([cat_df, num_df], axis=1)

features= list (cat_df.columns) + list(num_df.columns)

NameError: name 'train' is not defined