In [1]:
! pip install sklearn

Requirement already satisfied: sklearn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.8.0)

In [2]:
pip install scipy

Requirement already satisfied: scipy in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (1.8.0)
Requirement already satisfied: numpy<1.25.0,>=1.17.3 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scipy) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
! pip install sklearn

Requirement already satisfied: sklearn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)

In [5]:
pip install -U matplotlib

Requirement already satisfied: matplotlib in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (3.5.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (4.31.2)
Requirement already satisfied: cycler>=0.10 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: packaging>=20.0 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\diego merello\miniconda3\envs\project3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000017E78E11DC0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/matplotlib/

In [21]:
import pandas as pd

In [33]:
diamonds=pd.read_csv('Diamondssql.csv')
df_test=pd.read_csv('diamonds_test.csv')

In [34]:
diamonds.columns

Index(['color', 'cut', 'clarity', 'price', 'city', 'depth', 'carat', 'table',
       'x', 'y', 'z'],
      dtype='object')

In [35]:
diamonds

,color,cut,clarity,price,city,depth,carat,table,x,y,z
0,J,Premium,VS2,4268,Dubai,62.4,1.21,58.0,6.83,6.79,4.25
1,H,Very Good,VS2,505,Kimberly,63.0,0.32,57.0,4.35,4.38,2.75
2,G,Fair,VS1,2686,Las Vegas,65.5,0.71,55.0,5.62,5.53,3.65
3,D,Good,SI1,738,Kimberly,63.8,0.41,56.0,4.68,4.72,3.00
4,G,Ideal,SI1,4882,Dubai,60.5,1.02,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...,...,...,...,...,...
40450,G,Ideal,VS1,10070,Antwerp,62.7,1.34,57.0,7.10,7.04,4.43
40451,F,Good,SI2,12615,Madrid,57.1,2.02,60.0,8.31,8.25,4.73
40452,H,Ideal,SI1,5457,Kimberly,62.7,1.01,56.0,6.37,6.42,4.01
40453,J,Ideal,VS1,456,Kimberly,61.9,0.33,54.3,4.45,4.47,2.76
40454,I,Ideal,SI1,6232,London,62.0,1.24,58.0,6.83,6.88,4.25

In [36]:
#df_dummies=pd.get_dummies(diamonds)
#df_dummies

df_test.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'city'],
      dtype='object')

In [37]:
target=['price']
cat_features=['cut', 'color', 'clarity', 'city']
num_features=['carat', 'depth', 'table', 'x', 'y', 'z']

In [38]:
for cat_feat in cat_features:
    diamonds[cat_feat]=diamonds[cat_feat].astype('category')
    df_test[cat_feat]= df_test[cat_feat].astype('category')

In [41]:
cat_df=pd.get_dummies(diamonds[cat_features])
num_df=diamonds.loc[:, num_features]
train_df=pd.concat([cat_df,num_df], axis=1)

cat_df =pd.get_dummies(df_test[cat_features])
num_df=df_test.loc[:, num_features]
df_test= pd.concat([cat_df, num_df], axis=1)

features= list (cat_df.columns) + list(num_df.columns)

In [42]:
features

['cut_Fair',
 'cut_Good',
 'cut_Ideal',
 'cut_Premium',
 'cut_Very Good',
 'color_D',
 'color_E',
 'color_F',
 'color_G',
 'color_H',
 'color_I',
 'color_J',
 'clarity_I1',
 'clarity_IF',
 'clarity_SI1',
 'clarity_SI2',
 'clarity_VS1',
 'clarity_VS2',
 'clarity_VVS1',
 'clarity_VVS2',
 'city_Amsterdam',
 'city_Antwerp',
 'city_Dubai',
 'city_Kimberly',
 'city_Las Vegas',
 'city_London',
 'city_Luxembourg',
 'city_Madrid',
 'city_New York City',
 'city_Paris',
 'city_Surat',
 'city_Tel Aviv',
 'city_Zurich',
 'carat',
 'depth',
 'table',
 'x',
 'y',
 'z']